<div class="container">
  <h2>Principais Serviços Prestados</h2>

  <p>
    Divórcio litigioso, consensual, e em cartório, divisão de bens, fixação, alteração e exoneração de pensão
    alimentícia,
    guarda compartilhada e unilateral, adoção, entre outros.
  </p>
  <!-- <u>
    <li>
      Divórcios
    </li>
    <li>
      Ações de guarda
    </li>
    <li>
      Penção alimentícia
    </li>
    <li>
      Adoção
    </li>
    <li>
      Planejamento patrimonial e sucessorio
    </li>
    <li>
      União estável
    </li>
  </u> -->
</div>