* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #d0b8a0;
}

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.example-card {
  width: 300px;
  height: 400px;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-title {
  font-size: 14px;
  font-weight: normal;
}


















.container_text {
  margin-left: -50px;
  margin-top: 50px;
  color: #000000;
  align-items: flex-start;
  justify-content: flex-start;
}

.text {
  font-size: 20px;
  width: 80%;
}


h1 {
  font-size: 30px;
}

h1 p {
  margin: 0px;
  margin-left: 30px;
}

p {
  margin: 30px;
  text-align: justify;
  line-height: 1.7;
  margin-bottom: 50px;
}

.logoHome {
  object-fit: cover;
  width: 50%;
  height: auto;
}

.logoHome:active {
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
  transition: transform 0.3s ease-in-out;
}















@media screen and (max-width: 750px) {
  .home {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .logoHome {
    width: 100%;
  }


  .container {
    flex-direction: column;
    align-items: center;
  }

  .container_text {
    margin: 0px;
    margin-top: 50px;
    color: #000000;
    align-items: flex-start;
    justify-content: flex-start;
  }

  h1 p {
    margin: 0px 0px 10px 30px;
    font-size: 20px;
  }

  .text {
    font-size: 20px;
    width: 80%;
  }
}
