<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <main>
    <section id="home" class="home">
      <div class="image-container">

        <img src="../../assets/imagens/meTwo.jpg" alt="justcy" class="logoHome">

        <div class="text-container">
          <h1>Apresentação</h1>
          <p class="text">
            Meu nome é Lívia Maria da Silveira, advogada, graduada em Direito pelo Centro Universitário de Formiga/MG –
            UNIFOR-MG.
            Durante minha formação, atuei como monitora de Direito Processual Civil, o que reforçou meu interesse e
            aprofundou meu
            conhecimento nas áreas processuais. Atualmente, trabalho em um escritório na cidade de Formiga/MG juntamente
            com o
            advogado Dr. Marcus Phillipe Vieira, onde atendo clientes com compromisso e dedicação, sempre buscando
            soluções
            jurídicas claras e eficazes para enfrentar desafios complexos.
          </p>

          <p class="text">
            Ao longo da minha trajetória acadêmica, participei de projetos de pesquisa e extensão na Mostra Integrada de
            Pesquisa e
            Extensão (MIPE) – 2023/2024, o que me permitiu ampliar minha visão e desenvolver uma base sólida para uma
            atuação
            pautada na ética e no conhecimento contínuo. Esses projetos foram essenciais para aprimorar minhas
            habilidades
            analíticas e fortalecer meu compromisso com a qualidade do trabalho jurídico que realizo.
          </p>

          <p class="text">
            Meu objetivo é auxiliar os clientes a alcançarem as melhores soluções jurídicas de maneira eficiente e
            resolutiva. Com
            uma abordagem que combina conhecimento técnico e sensibilidade, busco entender profundamente as necessidades
            de cada
            cliente para proporcionar resultados que realmente façam a diferença.</p>
        </div>
      </div>



    </section>
  </main>

</body>

</html>