<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato</title>
</head>

<body>
  <main>
    <section class="home">
      <div class="text-overlay">
        <h1>Contato</h1>
        <ul>
          <li><i class="fa-solid fa-location-crosshairs"></i> Endereço Profissional: Rua Silviano Brandão, 121, Sala 07,
            Centro - Formiga/MG. CEP 35170-112</li>
          <li><i class="fa-solid fa-envelope"></i> E-mail: liviasiveira.adv&commat;gmail.com</li>
          <li><i class="fa-solid fa-phone"></i> Telefone: (37) 99832-5040</li>
        </ul>
      </div>
      <div class="image-container">
        <img src="../../assets/imagens/Logotipo01.png" alt="Logotipo" class="logoHome">
      </div>
    </section>

  </main>
</body>

</html>