<body>
  <div class="container">

    <img src="../../assets/imagens/meTwo-removebg-preview.png" alt="justcy" class="logoHome">

    <div class="container_text">
      <h1>
        <p>Lívia Maria da Silveira</p>
        <p> Advogada|OAB/MG 239.128</p>
      </h1>
      <p class="text">
        Graduada em Direito pelo Centro Universitário de Formiga - UNIFOR/MG. Atuei como monitora nas disciplinas
        de Direito
        Civil, Direito Empresarial e Direito Processual Civil, aprofundando meus conhecimentos nessas áreas.
      </p>

      <p class="text">
        Minha experiência acadêmica inclui participação em projetos de pesquisa e extensão na Mostra Integrada de
        Pesquisa e
        Extensão
        (MIPE) – 2023/2024, o que contribuiu para a construção de uma base jurídica sólida e para o aprimoramento
        das minhas
        habilidades analíticas.
      </p>

      <p class="text">
        Meu objetivo é oferecer soluções jurídicas eficientes e estratégicas, sempre pautadas na ética, no
        conhecimento técnico
        e na compreensão das necessidades específicas de cada cliente.
      </p>
    </div>
  </div>
  <div class="container">
    <a class="Curriculum-button" (click)="downloadCurriculum()">
      <i class="fas fa-file-pdf"></i> Curriculum Vitae
    </a>
  </div>
  <br>
  <br>
</body>
