<body>
  <div class="container">

    <img src="../../assets/imagens/Gabriele2.png" alt="justcy" class="logoHome">

    <div class="container_text">
      <h1>
        <p>Gabriele Dassa Calixto</p>
      </h1>
      <p class="text">
        Sou graduada em Direito pelo Centro Universitário de Formiga – UNIFOR/MG. No Núcleo de Práticas Jurídicas da
        instituição, adquiri experiência direta na atuação com processos de família.
      </p>

      <p class="text">
        Minha trajetória acadêmica inclui cinco anos de participação na Comissão Própria de Avaliação (CPA) do
        UNIFOR/MG, além
        de dois anos de estágio na Delegacia Regional de Polícia Civil e dez meses na Perícia da Delegacia Regional de
        Formiga.
        Também possuo experiência na advocacia, tendo atuado por oito meses em um escritório especializado na área
        cível.
      </p>

      <p class="text">
        Atualmente, sou pós-graduanda em Direito de Família e Sucessões pela PUC Minas, com o compromisso de garantir os
        direitos das pessoas por meio de uma defesa eficiente, ética e respeitosa.
      </p>
    </div>
  </div>
  <!-- <div class="container">
    <a class="Curriculum-button" (click)="downloadCurriculum()">
      <i class="fas fa-file-pdf"></i> Curriculum Vitae
    </a>
  </div> -->
  <br>
  <br>
</body>