<div class="container">

  <h2>Principais serviços prestados</h2>

  <p>
    Ações indenizatórias por danos materiais e danos morais, contratos, posse e propriedade de
    bens, herança, testamento e planejamento sucessório e inventário, entra outros.
  </p>

  <!-- <u>
    <li>
    </li>
    <li>
      Ações indenizatorias.
    </li>
    <li>
      Proteção de questões de propriedade normal, posse e bens.
    </li>
    <li>
      Regularização de imoveis.
    </li>
    <li>
      Processos de usucapião.
    </li>
    <li>
      Responsabilidade civil e obrigações.
    </li>
    <li>
      Execução.
    </li>
  </u> -->
</div>