<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <nav>
      <div class="logo">
        <img src="../assets/imagens/Logotipo para arquiteta moderno minimalista bege e marrom4.png" alt="logo"
          class="logo ">
      </div>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">Apresentação </a></li>
        <li><a href="#areas">Áreas de Atuação</a></li>
        <li><a href="#Realizacoes">Realizações Acadêmicas </a></li>
        <li><a href="#contact">Contato</a></li>

      </ul>
    </nav>
  </header>

  <hr>

  <main>
    <section id="home" class="home container">
      <div class="container__caixa">
        <h1>ADVOCACIA</h1>
        <p>
          Atuação jurídica com seriedade, transparência, confidencialidade e integridade. Cada caso é tratado com
          máxima importância sempre pautados pela ética.
        </p>

      </div>
    </section>

    <section id="about">
      <app-about></app-about>
    </section>

    <section id="areas">
      <app-areas></app-areas>
    </section>

    <section id="Realizacoes">
      <app-projects></app-projects>
    </section>

    <section id="contact">
      <app-contact></app-contact>
    </section>

  </main>

</body>

</html>