<div class="container">
  <h2>Principais serviços prestados</h2>
  <u>
    <li>
      Defesa do consumidor em ações judiciais.
    </li>
    <li>
      Elaboração e revisão de contratos de consumo.
    </li>
    <li>
      Ações de indenização (danos morais/materiais/estéticos).
    </li>
    <li>
      Consultoria em compras online e comércio eletrônico.
    </li>
    <li>
      Assessoria em casos de produtos e serviços defeituosos.
    </li>
    <li>
      Defesa em casos de <i>overbooking</i> e problemas com viagens.
    </li>
  </u>
</div>