* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}


.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logoHome {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}


.text-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(10, 10, 10);
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.Areas {
  display: flex;
  margin-top: 100px;
  gap: 2px;

}

.Areas:hover {
  opacity: 0.8;
}

.Areas .Areas_text {
  opacity: 1;
}

.Areas_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: baseline;
  width: 250px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.3s ease;
  background-image: linear-gradient(0deg, #8c543f, #ffffff);
}

.Areas_text:hover {
  background-color: #8c543f;
  color: white;
  transform: translateY(-20px);
  cursor: pointer;
}

.Areas_text_title {
  margin-top: 50px;
  font-size: 20px;
  width: 100%;
}



@media screen and (max-width: 768px) {


  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(10, 10, 10);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    font-size: 20px;
  }

  .Areas {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 2px;
  }

}