<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <main>
    <section class="home">
      <div class="image-container">
        <img src="../../assets/imagens/justcy.jpg" alt="justcy" class="logoHome">
        <div class="text-overlay">
          <h2>Áreas de Atuação</h2>
          <div class="Areas">
            <section class="Areas_text" (click)="Explicacao('Civil')">
              <div class="Areas_text_title">
                <i class="fa-solid fa-handshake"></i>
                Direito Civil
              </div>
            </section>
            <section class="Areas_text" (click)="Explicacao('Trabalhista')">
              <div class="Areas_text_title">
                <i class="fa-solid fa-briefcase"></i>
                Direito Trabalhista
              </div>
            </section>
            <section class="Areas_text" (click)="Explicacao('Consumidor')">
              <div class="Areas_text_title">
                <i class="fas fa-shield-alt"></i>
                Direito do Consumidor
              </div>
            </section>
            <section class="Areas_text" (click)="Explicacao('Familia')">
              <div class="Areas_text_title">
                <i class="fa-solid fa-balance-scale"></i>
                Direito das Famílias e Sucessões
              </div>
            </section>

          </div>
        </div>
      </div>
    </section>
  </main>
</body>

</html>